@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am currently a Senior at Ohio University with plans to graduate with an MIS and Business Analytics Co-Major this December. This is my first web application for MIS4200. This is a website that I am creating to demo MVC application developement.</p>
