@{
    ViewBag.Title = "Ryan Sandling Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    92 West Union<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    513.532.8729
</address>

<address>
    <strong>Contact Me:</strong>   <a href="mailto:Rs473914@ohio.edu">Rs473914@ohio.edu</a><br />
   
</address>