@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200</h2>
    <p>This is a sample site for MIS4200</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MIS 4200</h2>
        <p>
            This class is an intro to MVC development using Scrum. The class will also introduce git and GitHub for source control.
        </p>
     
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>MVC is Model-View-Controller. MVC is the industry standard framework for creating scalable and detailed web applications.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>I am from Cleves, Ohio, a small town just outside of Cincinnati, Ohio.</p>
        
    </div>
</div>